(file_server_config) {
    encode gzip
    file_server
}

{$CADDY_BACKEND_HOST} {
    handle_path /static/* {
        root * /app-assets/server-static/static
        import file_server_config
    }

    handle_path /media/* {
        root * /app-assets/server-static/media
        import file_server_config
    }

    handle {
        reverse_proxy http://web:80
    }
}
